body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:360px;
  height:741px;
}
#u1_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:741px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 0, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:799px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:799px;
  display:flex;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1414px;
  height:796px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:-331px;
  top:0px;
  width:1414px;
  height:796px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:741px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:363px;
  height:741px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:49px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:4px 5px 2px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:4px 5px 2px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:4px 5px 2px rgba(51, 51, 51, 0.349019607843137);
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:580px;
  width:241px;
  height:49px;
  display:flex;
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:49px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:4px 5px 2px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:4px 5px 2px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:4px 5px 2px rgba(51, 51, 51, 0.349019607843137);
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:668px;
  width:241px;
  height:49px;
  display:flex;
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:121px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:60px;
  width:300px;
  height:111px;
  display:flex;
  font-family:'Raleway Bold Italic', 'Raleway Regular', 'Raleway';
  font-weight:700;
  font-style:italic;
  font-size:88px;
  letter-spacing:-6px;
  color:#D9001B;
}
#u7 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:3px 3px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:3px 3px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:3px 3px 5px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  color:#FFFFFF;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:166px;
  width:244px;
  height:27px;
  display:flex;
  font-size:23px;
  color:#FFFFFF;
}
#u8 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:121px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:53px;
  width:64px;
  height:111px;
  display:flex;
  font-family:'Raleway Bold Italic', 'Raleway Regular', 'Raleway';
  font-weight:700;
  font-style:italic;
  font-size:106px;
  letter-spacing:-6px;
  color:#D9001B;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:3px 3px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:3px 3px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:3px 3px 5px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u10 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:500px;
  width:281px;
  height:209px;
  display:flex;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
